<li class='card'>
  <div class='card__img-container'><img src={{data.thumbnail}} alt="{{ data.thumbnailDescription }}" class='card__img'>
  </div>
  <div class='card__body'>
    <h3 class='card__title'>{{data.title}}</h3>
    <p class='mb-2 leading-tight'>{{ data.summary }} </p>
    <a class='a-pseudo-wrap' href={{ url url }}></a>
    <span class='card__small-print'>By {{ data.author }}</span>
    <time class='card__small-print' datetime="{{toISOString data.date}}">{{ toDateString data.date }}
    </time>
  </div>
</li>
