<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
	{{#if title}}
	Psych Blog - {{title}}
	{{else}}
	Psych Blog
	{{/if}}
</title>
{{#if description}}
<meta name="description" content="{{ description }}">
{{/if}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href={{myProject.rootPath}}{{getObjectProperty assets "main.css"}}>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
