---
layout: base-layout.hbs
---

<article class='post' itemscope itemtype="http://schema.org/Article">
  <h2 class="post__title" itemprop="name">{{ title }}</h2>
  <p class='post__teaser' itemprop="description">{{ description }}</p>
  <div class="post__meta">
    <span itemprop='author'>{{ author }}</span>
    |
    <time datetime="{{toISOString date}}" itemprop="datePublished"
      content="{{toISOString date}}">{{ toDateString date }}
  </div>
  <div class='post__img-container'>
    <img src={{ thumbnail }} alt="{{ thumbnailDescription }}" itemprop="image">
  </div>
  <div class='post__body' itemprop="articleBody">
    {{{ content }}}
  </div>
  <div class="tooltip-container"></div>
</article>
